* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  body {
    background-color: #ecf5ff;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  
  footer {
    font-size: 1.5;
    padding: 0.5;
  }
  
  h1 {
    font-size: 2.5;
    font-weight: 500;
    margin: 0.5;
  }
  
  h2 {
    color: purple;
    font-weight: 600;
    margin: 0.5;
  }
  
  h3 {
    font-weight: 500;
  }
  
  hr {
    margin: 0.5;
  }
  
  label {
    font-size: 1.5;
    margin: 0;
    padding: 0.5;
  }
  
  p {
    font-size: 1.5;
    margin: 0.5;
  }